*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cover {
    position: absolute;
    width: 100%;
    height: 100vh;
    padding: 175px 0;
    font-family: Arial, Helvetica, sans-serif;

    display: none;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    
    font-size: 50px;
    transition: .2s;

    z-index: 100;
}

.cover button{
    width: 200px;
    height: 50px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    background-color: rgb(60, 204, 41)  ;

    transition: .2s;
}

.cover button:hover{
    background-color: #1c1c1c;
    color: #fff;
}

.game-board{
    width: 100%;
    height: 100vh;
    position: relative;
    border-bottom: 30px solid rgb(23, 150, 23);
    background: linear-gradient(#87CEED, #E0F6FF);
    margin: 0 auto;
    overflow: hidden;
    opacity: 1;
}

.points{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    font-size: 25px;
    color: rgb(14, 50, 129);
    top: 20px;
    left: 50px;
    z-index: 110;
}
.pipeImg{
    position: absolute;
    width: 80px;
    bottom: 0;
    animation: pipe-animation 2s infinite linear;
}

.marioImg{
    width: 150px;
    position: absolute;
    bottom: 0;
}

.cloudsImg{
    width: 550px;
    position: absolute;
    animation: clauds-animation 10s infinite linear;
    
}

.jump{
    animation: jump .5s;
}

@keyframes pipe-animation {
    from { right: -80px;}
    to{right: 100%;}
}

@keyframes jump {
    0% { 
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 180px;
    }
    60%{
        bottom: 180px;
    }
    100% { 
        bottom: 0;
    }
}

@keyframes clauds-animation {
    from { right: -550px;}
    to{right: 100%;}
}